<div id='top'>
    <div class='container'>
        <div class='wrapper'>
            <div class='inner'>

                <div class='splash'>

                    <span class='name col-xs-12'>Slumberknees</span>
                    <div class='tagline col-xs-6'>
                        [insert description of product here insert description of product here].
                    </div>
                    <div class='play-button' onclick='showVideo()'>
                        <svg viewBox='0,0,200,200'>
                            <circle cx='100' cy='100' r='90'></circle>
                            <polygon points='70,50 70,150 160,100'></polygon>
                        </svg>
                    </div>

                </div>

                <div class='video hidden'>
                    <iframe id="ytplayer" type="text/html"
                        src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0&showinfo=0&autohide=1"
                        frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </div>
</div>

<div id='testimonials'>

    <h2 class='title'>Testimonials</h2>

    <div class='container'>

        <div class='testi col-xs-12 col-sm-4'>
            <img class='testimonial-image' src='../images/test1.png'>
            <span class='quote'>"This is a sample of a testimonial. Use this <span class='highlight c1'>bolded text</span>
            for specific words."</span>
            <span class='citation'>- Steve Johnson, Professional Athlete</span>
        </div>
        <div class='testi col-xs-12 col-sm-4'>
            <img class='testimonial-image' src='../images/test2.png'>
            <span class='quote'>"This is a sample of a testimonial. Use this <span class='highlight c2'>bolded text</span>
            for specific words."</span>
            <span class='citation'>- Steve Johnson, Professional Athlete</span>
        </div>
        <div class='testi col-xs-12 col-sm-4'>
            <img class='testimonial-image' src='../images/test3.png'>
            <span class='quote'>"This is a sample of a testimonial. Use this <span class='highlight c3'>bolded text</span>
            for specific words."</span>
            <span class='citation'>- Steve Johnson, Professional Athlete</span>
        </div>
    </div>

</div>

<div id='learnmore'>

    <div class='container'>
        <h2 class='title'>Learn More</h2>

        <div class='text col-xs-6'>
            To learn more about Slumberknees, feel free to reach out to us.</br></br>
            Phone: 555-5555-555</br>
            E-Mail: address@slumberknees.com
        </div>
        <div class='col-xs-6'>
            <img class='image' src = '../images/image1.jpg'/>
        </div>

    </div>

</div>

<div id='footer'>
    <!-- <div>Icons made by <a href="http://www.flaticon.com/authors/scott-de-jonge" title="Scott de Jonge">Scott de Jonge</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->
</div>
