<div id='top'>

    <div class='container'>

        <div class='name'>
            SLUMBERKNEES
        </div>

        <div class='video-wrapper'>

            <iframe id="ytplayer" type="text/html"
            src="https://www.youtube.com/embed/C0DPdy98e4c?rel=0&showinfo=0&autohide=1"
            frameborder="0" allowfullscreen></iframe>

        </div>

        <div class='tagline'>
            [Tagline or description of product]<br/>
            <a href="#learnmore">Learn More Now</a>
        </div>

    </div>

</div>

<div id='testimonials'>

    <h2 class='title'>Testimonials</h2>

    <div class='container'>

        <div class='testi col-xs-12 col-sm-4'>
            <img class='testimonial-image' src='../images/test1.png'>
            <span class='quote'>"This is a sample of a testimonial. Use this <span class='highlight c1'>bolded text</span>
            for specific words."</span>
            <span class='citation'>- Steve Johnson, Professional Athlete</span>
        </div>
        <div class='testi col-xs-12 col-sm-4'>
            <img class='testimonial-image' src='../images/test2.png'>
            <span class='quote'>"This is a sample of a testimonial. Use this <span class='highlight c2'>bolded text</span>
            for specific words."</span>
            <span class='citation'>- Steve Johnson, Professional Athlete</span>
        </div>
        <div class='testi col-xs-12 col-sm-4'>
            <img class='testimonial-image' src='../images/test3.png'>
            <span class='quote'>"This is a sample of a testimonial. Use this <span class='highlight c3'>bolded text</span>
            for specific words."</span>
            <span class='citation'>- Steve Johnson, Professional Athlete</span>
        </div>
    </div>

</div>

<div id='learnmore'>

    <div class='container'>
        <h2 class='title'>Learn More</h2>

        <div class='text'>
            To learn more about Slumberknees, feel free to reach out to us.</br>
            Phone: 555-5555-555</br>
            E-Mail: address@slumberknees.com
        </div>

    </div>

</div>

<div id='footer'>
    <!-- <div>Icons made by <a href="http://www.flaticon.com/authors/scott-de-jonge" title="Scott de Jonge">Scott de Jonge</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->
</div>
