@import url(https://fonts.googleapis.com/css?family=Play:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700italic,300);

#top{

    width: 100%;
    background-image: url('../images/black-linen-2.png');
    background-color: #09061f;
    /* www.transparenttextures.com */

    .name{
        font-family: 'Play', sans-serif;
        font-size: 4em;
        font-weight: bold;
        color: white;
    }

    .tagline{
        font-family: 'Play', sans-serif;
        font-size: 1.5em;
        color: white;
        padding: 2%;
        text-align: center;

        a:hover{
            text-decoration: none;
        }
    }

    .video-wrapper{

        position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;

        iframe {
            position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        }
    }
}

#testimonials{

    margin: 2% 0;
    font-family: 'Open Sans', sans-serif;

    .testimonial-image{

        margin: 30px auto;
        display: block;
        width: 50px;
    }

    .quote{

        color: #222;
        font-size: 1.5em;
        display: block;

        .highlight{

            font-weight: bold;
            font-style: italic;
        }

        .highlight.c1{
            color: #500;
        }

        .highlight.c2{
            color: #050;
        }

        .highlight.c3{
            color: #005;
        }
    }

    .citation{

        color: #888;
    }
}

.title{

    font-family: 'Play', sans-serif;
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: black;
}

#learnmore{

    font-family: 'Open Sans', sans-serif;
    background-color: #EEE;
    padding-bottom: 3%;
    padding-top: 1%;

    .text{
        margin-top: 3%;
        color: black;
        font-size: 1.2em;
    }
}

#footer{

    background-color: black;
    color: #AAA;
    font-size: 0.8em;
}
