@import url(https://fonts.googleapis.com/css?family=Play:400,700);

#top{

    width: 100%;
    background-image: url('../images/3px-tile.png');
    background-color: #040417;
    /* www.transparenttextures.com */

    .name{
        font-family: 'Play', sans-serif;
        font-size: 3em;
        font-weight: bold;
        color: white;
    }

    .tagline{
        font-family: 'Play', sans-serif;
        font-size: 1.5em;
        color: white;
        padding: 2%;
        text-align: center;

        a:hover{
            text-decoration: none;
        }
    }

    .video-wrapper{

        position: relative;
    	padding-bottom: 56.25%; /* 16:9 */
    	padding-top: 25px;
    	height: 0;

        iframe {
            position: absolute;
        	top: 0;
        	left: 0;
        	width: 100%;
        	height: 100%;
        }
    }
}

#testimonials{

    margin-top: 2%;

    .testimonial-image{

        margin: 20px auto;
        display: block;
        width: 50px;
    }

    .quote{

        color: #222;
        font-size: 1.3em;
        display: block;

        .highlight{

            font-weight: bold;
            font-style: italic;
        }

        .highlight.c1{
            color: #500;
        }

        .highlight.c2{
            color: #050;
        }

        .highlight.c3{
            color: #005;
        }
    }

    .title{

        font-family: 'Play', sans-serif;
        text-align: center;
        font-size: 2.5em;
        font-weight: bold;
        color: black;
    }

    .citation{

        color: #888;
    }
}
